*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin: auto;
    width: 1370px;

}
header{
    margin: auto;
}
div.container{
    background-color: rgba(232, 233, 232, 0.6);
    width: 1370px; 
    height: 1000px;
}
.col{
    display: inline-block;
    width: 200px;
    height: 650px;
    vertical-align: bottom;
}
.container img.block{
    display: block;
    width: 180px; 
    height: 180px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
